<div class="tour-show-container">
  <% if @tour.owner?(current_user) %>
    <div class="tour-crud-buttons">
      <%= link_to "New Stop", new_tour_stop_path(@tour), class: :button %>
      <%= link_to "Edit Tour", edit_tour_path, class: :button %>
      <%= link_to "Delete Tour", @tour, method: :delete, class: :button, data: {confirm: "Are you sure?"} %>
    </div>
  <% end %>
  <div  id="map-canvas"></div>
  <div class="header-row">
    <div class="">
      <h2 class="tour-header"><%= @tour.name %></h2>
    </div>
    <div class="stats-wrapper">
      <div class="tour-stats">
        <ul class="stats-text">
          <li>Time to complete: <%= @tour_length_parsed %></li>
          <li>Total Distance: <%= @tour.tour_distance %> </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-6 columns small-offset-6 content-container">
      <div class="tour-content">
        <div class="stop-list">
        <% @stops.each do |stop| %>
          <a href="#">
            <div id="<%= stop.name.parameterize.underscore %>" class="tour-stop-name" >
              <span class="stop-number"><%= TourStop.where(tour_id: @tour, stop_id: stop).first.stop_number %></span> <%= stop.name %>
            </div>
          <div class="tour-stop-body">
          </a>
            <%= stop.description %>
            <div id="<%= stop.name.parameterize.underscore + "_directions" %>" class="next-stop-directions"><button class="tiny button">Directions</button></div>
            <div id="<%= stop.name.parameterize.underscore + "_directions_text" %>"></div>
            <% if @tour.owner?(current_user) %>
              <div class="crud-buttons">
                <%= link_to "Edit Stop", edit_tour_stop_path(@tour, stop), class: "tiny button" %>
                <%= link_to "Delete Stop", [@tour, stop], method: :delete, class: "tiny button" %>
              </div>
            <% end %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
