<h2><%= @tour.name %></h2>
<p><%= link_to "New Stop", new_tour_stop_path(@tour) %></p>

Tour stops

<% @stops.each do |stop| %>
  <button id="<%= stop.name %>" > <%= TourStop.where(tour_id: @tour, stop_id: stop).first.stop_number %> <%= stop.name %></button>
<% end %>


<div id="map-canvas"></div>

<script type="text/javascript">
  var stops = <%= @stops.to_json.html_safe %>
</script>
